<footer class="post-info">
        <abbr class="published" title="{{ article.date.isoformat() }}">
                Publicado: {{ article.locale_date }}
        </abbr>
        {% if article.modified %}
		<br />
        <abbr class="modified" title="{{ article.modified.isoformat() }}">
                Actualizado: {{ article.locale_modified }}
        </abbr>
        {% endif %}

        {% if article.authors %}
        <address class="vcard author">
                Por {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
        </address>
        {% endif %}
<p>En <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>.</p>
{% include 'taglist.html' %}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
        {% if article.porcentaje %}
                <br />
        <abbr class="porcentaje">
                <b> Porcentaje: </b> {{ article.porcentaje }} %
        </abbr>
        {% endif %}

        {% if article.fechaentrega %}
                <br />
        <abbr class="fechaentrega">
                <b>Fecha de Entrega:</b> {{ article.fechaentrega }}
        </abbr>
        {% endif %}


        {% if article.fecharevision %}
                <br />
        <abbr class="fecharevision">
                <b>Fecha de Revisi&oacute;n:</b> {{ article.fecharevision}}
        </abbr>
        {% endif %}

        {% if article.lenguaje %}
                <br />
        <abbr class="lenguaje">
                <b>Lenguaje:</b> {{ article.lenguaje}}
        </abbr>
        {% endif %}

        {% if article.recursohumano %}
                <br />
        <abbr class="recursohumano">
                <b>Recurso Humano:</b> {{ article.recursohumano}}
        </abbr>
        {% endif %}
</footer><!-- /.post-info -->
