<footer class="post-info">
        {% if page.codigocurso %}
                <br />
        <abbr class="codigocurso">
                <b>C&oacute;digo de Curso:</b> {{ page.codigocurso }}
        </abbr>
        {% endif %}

        {% if page.tipocurso %}
                <br />
        <abbr class="tipocurso">
                <b>Tipo de Curso:</b> {{ page.tipocurso }}
        </abbr>
        {% endif %}

        {% if page.creditos %}
                <br />
        <abbr class="pagecreditos">
                <b>Cr&eacute;ditos:</b> {{ page.creditos }}
        </abbr>
        {% endif %}


        {% if page.horasclase %}
                <br />
        <abbr class="horasclase">
                <b>Horas de Clase:</b> {{ page.horasclase }}
        </abbr>
        {% endif %}

        {% if page.horasextraclase %}
                <br />
        <abbr class="horasextraclase">
                <b>Horas Extra Clase:</b> {{ page.horasextraclase }}
        </abbr>
        {% endif %}

        {% if page.requisitos %}
                <br />
        <abbr class="requisitos">
                <b>Requisitos:</b> {{ page.requisitos }}
        </abbr>
        {% endif %}

        {% if page.correquisitos %}
                <br />
        <abbr class="corequisitos">
                <b>Correquisitos:</b> {{ page.correquisitos }}
        </abbr>
        {% endif %}

        {% if page.requisitode %}
                <br />
        <abbr class="requisitode">
                <b>Requisito De:</b> {{ page.requisitode }}
        </abbr>
        {% endif %}

        {% if page.asistencia %}
                <br />
        <abbr class="asistencia">
                <b>Asistencia:</b> {{ page.asistencia }}
        </abbr>
        {% endif %}

        {% if page.suficiencia %}
                <br />
        <abbr class="suficiencia">
                <b>Suficiencia:</b> {{ page.suficiencia }}
        </abbr>
        {% endif %}

        {% if page.reconocimiento %}
                <br />
        <abbr class="reconocimiento">
                <b>Reconocimiento:</b> {{ page.reconocimiento }}
        </abbr>
        {% endif %}

        {% if page.vigencia %}
                <br />
        <abbr class="vigencia">
                <b>Vigencia:</b> {{ page.vigencia }}
        </abbr>
        {% endif %}

</footer><!-- /.post-info -->
